extends lobr

block content
  h1= title
  p DMY 03 for testing.
  p.
    use JADE
    REACT
    BACKBONE
      with Uni-Directional event flow
  p.
    dispatcher
    store
  p subscribe/unsubscribe
  p data / state





