extends layout

block content
  h1= title
  p 어서와 여긴 처음이지  ? Welcome to #{title}
  p Ryse
  h2 이게 JADE 임.
  p 여기서 react 와 primus 를 테스트하고, 뼈대를 잡아야 함.
  p 클라이언트 js는 coffe 로 컴파일해서 미니파이해버리자.
  p coffeebar 이용.

