extends layout

block content
  h1= title
  p 어서와 여긴 처음이지  ? Welcome to #{title}
  p Ryse
  h2 이게 JADE 임.
  p 여기서 react 와 primus 를 테스트하고, 뼈대를 잡아야 함.
  p 클라이언트 js는 coffe 로 컴파일해서 미니파이해버리자.
  p coffeebar 이용.
  p 아니 그런트를 사용할 줄 알아야 한다.
  p 전체적인 프레임웤이 갖워져야, 일시적인 실험체들 말고, 알파와 오메가까지의 biz-flow 가 모두 완성되어야 0.5 버전이라고 할 수 있겠다.
  p 0.5 는 되어야 알파 오픈이 가능하고 biz-model 을 다듬는다.

