extends lobr

block bodypart
  h1= title
  ul
    li readme.txt : 개발 설명서.
    li r01.jsx : 리액트 테스팅.
    li rb01.jsx : 리액트/백본 테스팅.
    li rbm01.jsx : 리액트/백본/매터리얼 테스팅.
    li 일이 어려워지기 시작하면 이미 실패한 것이다. 수월하게 느껴지는 것이 가장 중요함.
  script(src='js/v_r01.js')
